:root {
  --font-main: "League Spartan", sans-serif;
  --clr-red: rgba(255,70,85,255);
  --clr-white: #ece8e1;
}
* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-image: url('./public/main-bg.png');
  font-family: var(--font-main);
  scroll-behavior: smooth;
  background-position-y: -5rem;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 70%;
}
#app {
  max-width: 1800px;
  width: 100%;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
.header {
  height: 70px;
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-sidebar {
  display: block;
  height: 100vh;
  min-height: fit-content;
  width: 19rem;
  background-color: var(--clr-white);
}
.sidebar-contact {
  font-family: var(--font-main);
  color:  azure;
  background-color: rgb(251, 217, 148);
  border: none;
  border-radius: 5rem;
  font-weight: bolder;
  padding: 0.8rem 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  letter-spacing: 1px;
}
.sidebar-contact:hover {
  transform: translateY(-2px);
  background-color: rgb(233, 196, 122);
}
.sidebar-music-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: fit-content;
  align-items: center;
  max-width: 25rem !important;
  display: none;
  flex-direction: column;
  z-index: 5;
}
.sidebar-music-container > iframe{
  min-width: 25rem !important;
  display: flex;
  overflow: hidden;
  scroll-snap-stop: always;
}
.music-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: #282828;  
  width: 100%;
  background-color: var(--clr-white);
  position: relative;
  padding: 0.2rem 0rem;
}
.music-controls > i {
  cursor: pointer;
}
.github-user-container {
  position: relative;
}
#github-user-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  object-fit: cover;
}
.github-pfp-icon {
  position: absolute;
  color: white;
  bottom: 0.2rem;
  right: 0;
  cursor: pointer;
}
.contact-ctn {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}
.contact-spotify {
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
}
.hero-section {
  min-height: calc(100dvh - 94px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.hero-cards-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 40rem;
}
.hero-card {
  min-width: 46rem;
  min-height: 27rem;
  position: relative;
  border-radius: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 270ms ease-out;
  position: absolute;
  z-index: 1;
}
.hero-heading {
  position: absolute;
  top: 0;
}
.hero-card-border {
  border: solid 20px transparent;
  border-image: url('https://act-webstatic.hoyoverse.com/puzzle/hk4e/pz_I4DPYNZuP5/resource/puzzle/2024/01/25/4bd67fd516a9bea736725b3d5ace068b_1358133290903294214.png?x-oss-process=image/format,webp/quality,Q_90');
  border-image-slice: 35;
  border-image-repeat: stretch stretch;
  border-image-outset: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.hero-card-image {
  width: 100%;
  height: 100%;
}
.unactive {
  filter: grayscale(0.5) blur(2px);
  z-index: 0;
  transition-delay: 50ms;
}
.lefty {
  transform: translateX(-20%) scale(0.9);
}
.righty {
  transform: translateX(20%) scale(0.9);
}
.lefty-to-center {
  transform: scale(1) translateX(0%);
}
.center-to-right {
  transform: translateX(20%) scale(0.9);
}
.right-to-left {
  z-index: -2;
  transform: translateX(-20%) scale(0.9);
}
#spotify-project {
  background-image: url('https://fastcdn.hoyoverse.com/content-v2/nap/102257/7dc8e490e0e15e0656458003241b94ad_3174466126211406826.png');
}
#stream-project {
  background-image: url('https://fastcdn.hoyoverse.com/content-v2/nap/122251/5ba0bbacc97dbab4b38a67dadb2d03a8_4207766858889829019.png');
}
#real-project {
  background-image: url('https://genshin.global/wp-content/uploads/2023/12/Roses-Muskets-official-wallpaper-genshin.jpg');
}
.arrow {
  width: 5rem;
  height: 5rem;
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  object-fit: contain;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.arrow:hover {
  filter: brightness(0.7)
}
.arrow-left {
  left: -27rem;
}
.arrow-right {
  right: -27rem;
}
.hero-navigation {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-top: auto;
  margin-bottom: 4rem;
}
.page-points {
  color: var(--clr-white);
}
.point-active {
  color: rgb(251, 217, 148);
}
.aboutme-ctn {
  width: 550px;
  height: 450px;
  background: #11111167;
  backdrop-filter: blur(15px);
}
.aboutme-heading-ctn{
  color: var(--clr-white);
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: rgba(233, 196, 122, 0.4);
  width: fit-content;
  padding: 0.5rem 0.6rem;
  backdrop-filter: blur(10px);
  letter-spacing: 0.25rem;
  border: solid transparent 10px;
  border-image: url('https://act-webstatic.hoyoverse.com/puzzle/hk4e/pz_I4DPYNZuP5/resource/puzzle/2024/01/25/4bd67fd516a9bea736725b3d5ace068b_1358133290903294214.png?x-oss-process=image/format,webp/quality,Q_90');
  border-image-slice: 35;
  border-image-repeat: stretch stretch;
  border-image-outset: 0px 0px 0px 0px;
  border-radius: 1.5rem;
  margin: 0 auto;
}