:root {
  --font-main: "League Spartan", sans-serif;
  --clr-red: rgba(255,70,85,255);
  --clr-white: #ece8e1;
}
* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
body {
 background-color: rgba(15,25,35,255);
 font-family: var(--font-main);
 scroll-behavior: smooth;
}
#app {
  max-width: 1800px;
  margin: auto;
  position: relative;
}
.header {
  height: 70px;
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-sidebar {
  display: block;
  height: 100vh;
  min-height: fit-content;
  width: 19rem;
  background-color: var(--clr-white);
}
.sidebar-contact {
  font-family: var(--font-main);
  color: var(--clr-white);
  background-color: var(--clr-red);
  border: none;
  border-radius: 5rem;
  font-weight: bolder;
  padding: 0.8rem 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.sidebar-contact:hover {
  background-color: var(--clr-white);
  outline: solid var(--clr-red) 1px;
  color: var(--clr-red);
  transform: translateY(-2px);
}
.sidebar-music-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: fit-content;
  align-items: center;
  max-width: 25rem !important;
  display: none;
  flex-direction: column;
  z-index: 5;
}
.sidebar-music-container > iframe{
  min-width: 25rem !important;
  display: flex;
  overflow: hidden;
  scroll-snap-stop: always;
}
.music-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: #282828;  
  width: 100%;
  background-color: var(--clr-white);
  position: relative;
  padding: 0.2rem 0rem;
}
.music-controls > i {
  cursor: pointer;
}
.github-user-container {
  position: relative;
}
#github-user-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  object-fit: cover;
}
.github-pfp-icon {
  position: absolute;
  color: white;
  bottom: 0.2rem;
  right: -0.1rem;
  cursor: pointer;
}
.contact-ctn {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}
.contact-spotify {
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
}

#hero-section {
  display: flex;
  height: 800px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.hero-flex {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.projects-container {
  display: flex;
  flex-direction: column;
}
.hero-ctn {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  position: relative;
  top: 2.2rem;
}
.hero-img {
  width: 100%;
  max-width: 40rem;
  height: auto;
  object-fit: cover;
  aspect-ratio: 5 / 3.1;
}
.h2-projects {
  font-size: 2.5rem;
  color:  var(--clr-white);
  text-transform: uppercase;
}
.project-img-ctn {
  display: inherit;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.projects-img {
  width: 20rem;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: all 400ms ease-in-out;
  pointer-events: none;
}
.selected {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(10, 16, 22, 0.7);
  color: var(--clr-white);
  border: double var(--clr-white) 1px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.no-show {
  display: none;
}
.selected > p {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 0.5rem;
}
.project-img-ctn:hover {
  outline: solid var(--clr-red);
  z-index: 1;
}
.hero-ctn-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.2rem;
}
.hero-ctn-heading > h3 {
  color: white;
  text-transform: uppercase;
}
.hero-ctn-heading > button {
  color: var(--clr-white);
  font-weight: 500;
  font-family: var(--font-main);
  background-color: var(--clr-red);
  border: none;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  letter-spacing: 1px;
}
.hero-ctn-heading > button:hover {
  outline: solid var(--clr-white) 1px;
}
.hero-ctn > p {
  color: white;
  padding: 0.5rem 0.2rem;
  line-height: 1.5;
}
.tech-stack {
  position: absolute;
  bottom: 2.5rem;
  right: 0.2rem;
  color: var(--clr-white);
}
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.info-ctn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.info-img {
  width: 30rem;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.info-info-ctn {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  max-width: 25rem;
}
.info-h3 {
  color: var(--clr-white);
  font-size: 1.5rem;
}
.info-p {
  color: var(--clr-white);
  width: 100%;
  line-height: 1.3;
}
.info-a {
  color: var(--clr-red);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  font-style: italic;
  font-weight: bold;
}
.info-a:hover{
  text-shadow: 0px 3px darkred;
}
@media only screen and (min-width: 990px) and (max-width: 1022px) {
  .hero-flex {
    gap: 1rem;
  }
  .info-ctn {
    gap: 2rem;
  }
}
@media only screen and (min-width: 1023px) and (max-width: 1100px) {
  .hero-flex{
    gap: 2rem;
  }
  .info-ctn {
    gap: 2rem;
  }
}
@media only screen and (max-width: 990px) {
  .projects-container {
    display: none;
  }
  .info-ctn {
    gap: 2rem;
  }
  .info-img {
    width: 25rem;
  }
  .info-info-ctn {
    justify-content: flex-start;
  }
  .tech-stack {
    bottom: -1rem;
  }
  #hero-section {
    height: auto;
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .info-ctn {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    gap: 0rem;
  }
  .hero-ctn {
    max-width: 35rem;
  }
}
@media only screen and (max-width: 480px) {
  .info-ctn {
    padding: 0rem 1rem;
    gap: 0;
  }
  .info-img {
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
  }
  .header {
    padding: 0.5rem 1rem;
  }
  .contact-ctn {
    gap: 0.5rem;
  }
}